<!DOCTYPE html>
<html>
<head>
	<title>Company Profile</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="icon" type="image/icon" href="img/icon.jpeg">
	<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script> 
</head>
<body bgcolor="snow">
<!-- Navigasi !-->
<div class="nav">
	<ul>
		<li><img src="img/logo.jpg" width="70px" height="70px"></li>
		<li><a href="#Beranda">Beranda</a></li>
		<li><a href="#Tentang">Tentang Kami</a></li>
		<li><a href="#Service">Service</a></li>
		<li><a href="#Tim">Tim</a></li>
		<li><a href="#Kontak">Kontak Kami</a></li>
		<li style="float:right"><a href="/secondpage">Login</a></li>
	</ul>
</div>
<!-- Slider / Slideshow !-->
<section class="Beranda" id="Beranda">
<div class="img-slider" align="center">
	<img class="mySlides" src="img/jumbotron.jpg">
	<img class="mySlides" src="img/jumbotron1.jpg">
	<img class="mySlides" src="img/jumbotron2.jpg">
	<img class="mySlides" src="img/jumbotron3.jpg">
	<img class="mySlides" src="img/jumbotron4.jpg">
	<img class="mySlides" src="img/jumbotron5.jpg">
	<img class="mySlides" src="img/jumbotron1.png">
	<button onclick="plusDivs(-1)" class="prev">&#10094;</button>
	<button onclick="plusDivs(1)" class="next">&#10095;</button>
</div>
</section>
<br>
&nbsp;
<!-- Tentang !-->
<section class="Tentang" id="Tentang">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="text-center">Tentang Kami</h2>
				&nbsp;
			</div>
		</div>

		<div class="row text-center">
			<div class="col-sm-12">
				<p>N-Insurance adalah perusahaan asuransi dan manajer aset terkemuka di dunia dengan lebih dari 5 juta nasabah personal dan perusahaan. Nasabah N-Insurance mendapatkan manfaat dari berbagai layanan asuransi personal dan perusahaan, mulai dari asuransi jiwa dan kesehatan sampai layanan bantuan asuransi kredit dan asuransi bisnis secara global.</p>
			</div>
		</div>
		<div class="col-sm-12" align="right">
		<input class="sembunyi" type="submit" id="byid" align="right" value="Pelajari Lebih Lanjut -->">
		</div>
	</div>
	&nbsp;
	<div class="slide">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2 class="text-center">Sejarah Perusahaan</h2>
					&nbsp;
					<p class="text-center">
						Kami memulai bisnis kami di Indonesia dengan membuka kantor perwakilan di tahun 1969. Pada tahun 2020, Kami mendirikan PT N-Insurance Indonesia, perusahaan asuransi umum.  Kemudian, Kami memasuki bisnis asuransi jiwa, kesehatan dan dana pensiun dengan mendirikan PT N-Insurance Life Indonesia di tahun 2020. 
						Kini N-Insurance Indonesia didukung oleh lebih dari 1.000 karyawan dan lebih dari 15.000 tenaga penjualan dan ditunjang oleh jaringan mitra perbankan dan mitra distribusi lainnya untuk melayani lebih dari 5 juta tertanggung di Indonesia.
					</p>
				</div>
			</div>
		</div>
		&nbsp;
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2 class="text-center">Visi dan Misi</h2>
					&nbsp;
				</div>
			</div>
			<div class="row text-justify">
				<div class="col-sm-6">
					<p><strong>Visi</strong> :  <br>&nbsp;&nbsp;&nbsp;Menjadi perusahaan asuransi terbaik di Indonesia, melampaui pengharapan para nasabah, tenaga pemasaran, staf dan pemegang saham dengan memberikan pelayanan sempurna, produk berkualitas, tenaga pemasaran profesional yang berkomitmen tinggi serta menghasilkan pendapatan investasi yang menguntungkan.</p>
				</div>
				<div class="col-sm-6">
					<p><strong>Misi</strong> : 
						<br>1.Memberikan yang terbaik dan memperbaiki kemampuan untuk mendapatkan hasil yang terbaik pula.
						<br>2.Memberikan kesempatan kepada setiap orang di perusahaan untuk mendapatkan pengetahuan, keahlian dan pengembangan pribadi melalui berbagai training.
						<br>3.Bekerja bergandengan tangan sebagai satu keluarga besar memperlakukan satu sama lainnya dengan rasa hormat dan penuh kasih untuk menciptakan suasana penuh pengertian.
						<br>4.Komitmen untuk selalu memiliki integritas dalam setiap hal, menyediakan pelayanan terbaik untuk nasabah, menghargai setiap orang dengan adil berdasarkan nilai tambah bisnis, berkomunikasi dengan jelas dan memberikan pendapatan penghasilan yang baik ke setiap orang (tanpa diskriminasi).
					</p>
				</div>
			</div>
			&nbsp;
			<div class="row">
				<div class="col-sm-12" align="center">
					<h2>Portofolio</h2>
				</div>
			</div>
			&nbsp;
			<!-- Portofolio !-->

			<div class="row" align="center">
				<div class="col-sm-3"><img src="img/Products/Asuransi Dana Pensiun.jpg" width="240px" height="180"></div>
				<div class="col-sm-3"><img src="img/Products/asuransi pendidikan.png" width="240px" height="180"></div>
				<div class="col-sm-3"><img src="img/Products/asuransi kesehatan.jpg" width="240px" height="180"></div>
				<div class="col-sm-3"><img src="img/Products/Asuransi karyawan.jpg" width="240px" height="180"></div>
			</div>

			&nbsp;
			<div class="row">
			<div class="col-sm-12" align="right"><input type="submit" id="byid2" value="<-- Sembunyikan"></div>
			</div>
			&nbsp;
		</div>
	</div>
</section>
<section class="Service" id="Service">
<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-sm-12" align="center">
				<h2>Layanan Kami</h2>
				&nbsp;
				<p>Kami memiliki komitmen untuk mengembangkan produk kami untuk memberikan pelayanan terbaik kepada pelanggan. 
					<br>Berikut variatif layanan kami yang bisa anda nikmati</p>
			</div>
		</div>
		&nbsp;
		<!-- Layanan !-->
		<div class="row">
			<div class="col-sm-3" align="center">
				<img src="img/Asuransi Keluarga.jpeg" style="width: 200px;height: 200px"><br>
				<p>	
					<strong>Asuransi Keluarga</strong><br>
					Layanan 24 jam 
				</p>
			</div>
			<div class="col-sm-3" align="center">
				<img src="img/Asuransi Pensiun.jpeg" style="width: 200px;height: 200px"><br>
				<p>	
					<strong>Asuransi Dana Pensiun</strong><br>
					Layanan 24 jam 
				</p>
			</div>
			<div class="col-sm-3" align="center">
				<img src="img/Asuransi Anak.jpeg" style="width: 200px;height: 200px"><br>
				<p>	
					<strong>Asuransi Anak</strong><br>
					Layanan 24 jam 
				</p>
			</div>
			<div class="col-sm-3" align="center">
				<img src="img/Asuransi Kendaraan.jpeg" style="width: 200px;height: 200px"><br>
				<p>	
					<strong>Asuransi Kendaraan</strong><br>
					Layanan 24 jam 
				</p>
			</div>
		</div>
	</div>
</div>
</section>
<!-- Team !-->
<section class="Tim" id="Tim">
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h2 class="text-center">Tim</h2>
			&nbsp;
		</div>
	</div>
	&nbsp;
	<div class="row">
		{{#each results}}
		<div class="col-sm-3" align="center" style="width: 500px;height: 250px;">
			<img src="img/{{gambar}}" class="img-circle"><br><br>
			<strong>{{nama}}</strong><br>
			{{nim}}<br>
			{{tugas}}
		</div>
		{{/each}}
	</div>
</div>
&nbsp;
<!-- Footer!-->
</section>
<div class="footer" id="Kontak">
	<div class="footer-content">
		<div class="footer-section satu">
			<h1>N - Insurance</h1>
			<p>
				Make Your Life Happier
			</p>
			<div class="contact">
				<span><i class="fas fa-phone"></i>&nbsp; 0822 3292 5126</span><br>
				<span><i class="fas fa-envelope"></i>&nbsp; howrain1@gmail.com</span>
			</div>
			<div class="socials">
				<i class="fab fa-facebook"></i>
				<i class="fab fa-instagram"></i>
				<i class="fab fa-twitter"></i>
				<i class="fab fa-youtube"></i>
			</div>
		</div>
		<div class="footer-section dua">
			<h1>Kantor Pusat</h1>
			<p>
				<strong>Isekai Central</strong><br> Jl. Inajadulu Lt. Harapan 1A<br>Jakarta Selatan 12930<br>Indonesia<br>Telp. +62- 22 2222 2222
			</p>
		</div>
		<!-- Kontak Kami!-->
		<div class="footer-section tiga">
			<h1>Hubungi Kami</h1>
			<form action="/kontak" method="post" id="useform">
				<input type="email" name="email" placeholder="Your email address..." style="width: 100%;"><br>
				<textarea form="useform" name="catatan" placeholder="Your message.." style="width: 100%;height: 100px;"></textarea><br>
				<button type="submit">
					<i class="fas fa-envelope"> Kirim</i>
				</button>
			</form>
		</div>
	</div>
	<div class="footer-bottom">
		Copyright &copy; 2020 - Informatika 08 Team 3 - All Rights Reserved
	</div>
</div>
<!-- Javascript!-->
<script src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
	//Topik Selector
	$( "#byid" ).click(function() {
	  $(".slide").slideDown();
	  $(".sembunyi").toggle('hidden');
	});
	$( "#byid2" ).click(function() {
		  $(".slide").slideUp();
		  $(".sembunyi").toggle('show');
	});
	//Slider/slideshow
	var slideIndex = 1;
	showDivs(slideIndex);

	function plusDivs(n) {
  	showDivs(slideIndex += n);
	}

	function showDivs(n) {
  	var i;
  	var x = document.getElementsByClassName("mySlides");
  	if (n > x.length) {slideIndex = 1}
 		if (n < 1) {slideIndex = x.length}
  		for (i = 0; i < x.length; i++) {
 			x[i].style.display = "none";  
 		}
 	x[slideIndex-1].style.display = "block";  
	}
</script>
</body>
</html>